@import "./reset.css";
@import "./formPage.css";
@import "./tasksPage.css";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Niveau;
  src: url("../assets/fonts/Niveau.otf") format("opentype");
}

:root {
  --darkRed: #5f5f5f;
  --lightReddish: black;
  --lightRed: #ff5c4a;
  --red: #ab0000;
  --lightGray: #e6e6e6;
  --gray: #d7d7d7;
  --white: #fad9d1;
  --main-font: "Niveau";
}

body {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 10% 1fr;
  font-family: Niveau;
}

#myHeader {
  grid-row: 1/2;
  grid-column: 1/3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--red);
  color: black;
}

#leftNavigation {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: var(--gray);
}

#content {
  grid-row: 2/3;
  grid-column: 2/3;
}

#logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Niveau;
  font-size: 29px;
  font-weight: bold;
}

#searchDiv {
  width: 25%;
  font-family: Niveau;
}

#searchDiv input {
  width: 90%;
  height: 35px;
  background-color: var(--lightReddish);
  border: none;
  border-radius: 2px;
  text-indent: 10px;
  color: white;
}

#searchDiv input:hover {
  background-color: var(--lightRed);
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

i {
  margin-left: 10px;
}

#leftNavigation i {
  margin-right: 10px;
}

#addNewProject {
  background: var(--lightReddish);
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-family: Niveau;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#addNewProject:hover {
  background-color: var(--lightRed);
}

#content {
  background-color: var(--lightGray);
}

.navigationPanel {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--lightReddish);
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.navigationPanel:hover {
  background-color: var(--lightRed);
}

.navigationPanelProjects {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lightReddish);
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.navigationPanelProjects:hover {
  background-color: var(--lightRed);
}

#projectsDiv {
  justify-content: space-between;
}

#projectNav {
  display: flex;
  flex-direction: column;
}
