@import "./reset.css";
@import "./formPage.css";
@import "./tasksPage.css";
@import "./welcomePage.css";
@import "./todayPage.css";
@import "./thisWeekPage.css";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Niveau;
  src: url("../assets/fonts/Niveau.otf") format("opentype");
}

:root {
  --darkGray: #5f5f5f;
  --black: black;
  --lightRed: #ff5c4a;
  --red: #ab0000;
  --lightGray: #e6e6e6;
  --gray: #d7d7d7;
  --white: #fad9d1;
  --main-font: "Niveau";
  --search-width: 80%;
}

html {
  overflow-y: auto;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 10% 1fr;
  font-family: Niveau;
  overflow-x: hidden;
}

#myHeader {
  grid-row: 1/2;
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--red);
  color: black;
  padding-right: 10px;
}

#leftNavigation {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: var(--gray);
  transition: all 0.7s ease-in-out;
  overflow-y: auto;
  word-break: break-word;
}

#content {
  grid-row: 2/3;
  grid-column: 2/3;
}

#logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Niveau;
  font-size: 29px;
  font-weight: bold;
}

#searchDiv {
  width: 30%;
  font-family: Niveau;
  position: relative;
}

#searchDiv input {
  width: var(--search-width);
  height: 35px;
  background-color: var(--black);
  border: none;
  border-radius: 2px;
  text-indent: 10px;
  color: white;
  border-left: 1px solid black;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

#searchList {
  width: var(--search-width);
  background-color: black;
  position: absolute;
  z-index: 9999;
  color: white;
  margin-top: 1px;
  display: none;
}

.results {
  padding: 8px 18px;
  font-weight: bold;
  border-top: 1px solid #666;
}

.results:hover {
  background-color: var(--lightRed);
  cursor: pointer;
}

.hidden {
  display: none;
}

#searchList:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

i {
  margin-left: 10px;
}

#leftNavigation i {
  margin-right: 10px;
}

#buttonsDiv {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

#leftMenu {
  display: none;
  background: var(--black);
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-family: Niveau;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  border: 0;
}

#leftMenu:hover {
  background: var(--lightRed);
}

#leftMenu i {
  margin-left: 0px;
}

#addNewProject {
  background: var(--black);
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-family: Niveau;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#addNewProject:hover {
  background-color: var(--lightRed);
}

#content {
  background-color: var(--lightGray);
}

.navigationPanel {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--black);
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.navigationPanel:hover {
  background-color: var(--lightRed);
}

.navigationPanelProjects {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  font-weight: bold;
  cursor: pointer;
  color: white;
  padding: 8px 19px;
  border-top: 1px solid var(--darkGray);
}

.navigationPanelProjects:hover {
  background: var(--lightRed);
}

.priorityProject {
  background-color: var(--red)
}

#projectsDiv {
  justify-content: space-between;
}

#projectNav {
  display: flex;
  flex-direction: column;
}

.leftNavTransform {
  translate: (0px, 0px);
  z-index: 999;
}

@media only screen and (max-width: 1230px) {
  #allTasks {
    height: 120px;
  }
  #dateAndDelete{
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }
  #dateAndDelete div{
    text-align: end;
  }
  #checkboxAndTextDiv label{
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
}

@media only screen and (max-width: 1000px) {
  #content {
    grid-column: 1/3;
    z-index: 1;
  }
  #descriptionDiv {
    width: 75%;
    transform: translate(50px, 100%);
    font-size: 1.3em;
  }
  .leftNavTransformed {
    transform: translate(-101%, 0px);
    z-index: -1;
  }
  #projectInfo {
    margin-left: 10px;
    margin-right: 10px;
  }
  #welcomeLayout {
    grid-template-columns: 1fr;
  }
  #formLayout {
    grid-template-columns: 1fr minmax(auto, 40em) 1fr;
  }
  #todayLayout {
    grid-template-columns: 1fr;
  }
  #todayTasksDiv {
    grid-column: 1/2;
  }
  #thisWeekLayout {
    grid-template-columns: 1fr;
  }
  #buttonsDiv {
    width: 32%;
  }
  #leftMenu {
    display: block;
  }
  body {
    grid-template-columns: 1.5fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  #myHeader {
    flex-direction: column;
    padding-right: 0px;
  }
  body {
    grid-template-rows: 23vh 1fr;
    grid-template-columns: 1.5fr 1fr;
  }
  #welcomeLayout {
    height: 77vh;
  }
  #tasksLayout {
    height: 77vh;
  }
  #formContent {
    padding: 8px 18px;
  }
  #formLayout {
    row-gap: 2.5em;
  }
  #descriptionDiv {
    height: 30vh;
  }
  #searchDiv input {
    margin-left: 7vw;
  }
  #searchDiv ul {
    margin-left: 7vw;
  }
  #buttonsDiv {
    width: 80%;
    align-items: center;
  }
  #searchDiv {
    width: 100%;
  }
  #buttonsDiv {
    justify-content: space-between;
    width: 100%;
  }
  .delete-button {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  #tasksLayout {
    grid-template-columns: 100vw;
    grid-template-rows: 250px 2fr 600px 50px;
    height: 100%;
    overflow: hidden;
  }
  #tasksDiv {
    grid-column: 1/2;
  }
  #notesDiv {
    grid-row: 3/4;
    grid-column: 1/2;
    margin-top: 50px;
  }
  body {
    grid-template-columns: 5fr 1fr;
  }
  #checkboxAndTextDiv {
    width: 240%;
  }
  
  
}

@media only screen and (max-width: 560px) {
  #welcomeContent {
    height: 25em;
  }
  .animated-title {
    height: 20em;
  }
  #welcomeLayout {
    grid-template-rows: 1fr 1fr;
  }
}
