#welcomeLayout {
    display: grid;
    grid-template-columns: 0.35fr minmax(auto, 40em) 0.5fr;
    grid-template-rows: 4fr 1fr;
    font-weight: bold;
    overflow: hidden;
}

#welcomeContent {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
}

#descriptionDiv {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translate(0px, 210px);
    transition: all 1s ease-in-out;
    width: 100%;

}

@keyframes showTopText {
    0% {
        transform: translate3d(0, 100%, 0);
   }
    40%, 60% {
        transform: translate3d(0, 50%, 0);
   }
    100% {
        transform: translate3d(0, 0, 0);
   }
}
@keyframes showBottomText {
    0% {
        transform: translate3d(0, -100%, 0);
   }
    100% {
        transform: translate3d(0, 0, 0);
   }
}
.animated-title {
    color: black;
    font-family: Roboto, Arial, sans-serif;
    height: 38em;
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90vmin;
}
.animated-title > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.animated-title > div div {
    font-size: 12vmin;
    padding: 2vmin 0;
    position: absolute;
}
.animated-title > div div span {
    display: block;
}
.animated-title > div.text-top {
    border-bottom: 1vmin solid #000;
    top: 0;
}
.animated-title > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
    color: var(--red);
}
.animated-title > div.text-bottom {
    bottom: 0;
}
.animated-title > div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
}